.overflow-x{
    overflow: hidden;
}
.head{
background-color: #f7f8f8;
padding-top: 10px;
padding-bottom: 5px;
text-align: center;
width: 100% !important;
border-bottom: 1px solid #e9e9e9;
}

#logo{
width: 50px;
padding-top: 8px;
margin-left: 30px;
cursor: pointer;

}

#magnifierblack{
    height: 25px;
position: absolute;
/* top: 0; */
margin-top: 12px;
margin-left:-90px !important;
/* left: -100 !important; */
}

#select{
border-color: black !important;
border:2px solid black !important;
/* font-size: large !important; */
text-indent: 0.7cm;
width: 110% !important;
}
#select:focus{
border:none !important;
}
#option{
    text-indent: 3cm !important;
}

#search{
margin-left: 7px;
width: 90%;
border-color: black !important;
border:2px solid black !important;
border-top-right-radius: 0px !important;
border-bottom-right-radius: 0px !important;
/* font-size: large !important; */
}
#search:focus{
border:none !important;
}

.btn-lg{
background-color: black !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-top-left-radius: 0px !important;
border-bottom-left-radius: 0px !important;
}
.btn-lg>img{
    height: 23px;
    width: 22px;
padding-bottom:2px;
}



#login{
padding-top: 10px;
font-size: large ;
font-weight: 650;
text-decoration: underline;
color: #002f34 !important;

}
#login:hover,.log-link:hover{
text-decoration: none !important;
cursor: pointer;
color: #002f34 !important;
}
#login:focus{
color: #002f34 !important;
}

#sell-img{
width: 110px;
padding-top: 0px;
margin-left: -50px;
cursor: pointer;
font-size:22px !important;
}

#sell-img:hover{
width: 113px;
margin-top: -2px;
}




/* OLX SLIDER */
.olxslide>img{
text-align: center !important;
width: 100% !important;
}



/* Categories */
.categories{
margin-top: 70px;
border-top: 0.1px solid rgb(240, 240, 240);
box-shadow: gray;
text-indent: 0.6cm;
border-bottom: 1px solid rgb(212, 212, 212);
}

.categories>button{
border: 0px !important;
border-style: none !important;
background-color: white !important;
}
.categories>button:hover{
background-color: white !important;
}
.categories>a>b{
font-family: Arial,Helvetica,sans-serif;
}
.categories>a>b:hover{
color: black;
}

.categories>a{
display: inline;
color: black;
font-family: Arial,Helvetica,sans-serif;
font-size: 14px;
padding-left: 10px;
}

.categories>a:hover{
color: rgb(136, 148, 163);
text-decoration: wavy;
}


/* ITEMS */
#items{
    color: #002f34;
    font-size: 24px;
    margin-top: 15px;
    text-indent:1.8cm;
}
/* #card-align{

} */

.card{
border: 1px solid rgb(201, 201, 201) !important;
box-shadow: 0px 0px 1px grey !important;
}
.card:hover{
box-shadow: 0px 0px 10px rgb(187, 187, 187) !important;
}

.heart{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 9px;
}
.heart:hover{
    width: 27px;
    height: 27px;
    position: absolute;
    right: 8px;
    top: 8px;


}

#card-body{
 border-left: 5px solid #ffce32;  
 overflow: hidden !important;

}

#white-border{
    margin: 8px;

}
.card-img-top{
    height: 160px;
    text-align: center !important;
    /* padding: 5 !important; */
    /* width: 90% !important; */
}
/* .card-img-top:hover{
box-shadow: 0px 0px 3px grey !important;
} */ 

/* .items-img{
} */

 /* .cccc{ 
 } */ 

#featured{
  background-color: #ffce32;  
  font-size: 10px;
  padding: 2px 5px;
  font-weight: 700;
  display: block;
  position: absolute;
  left: 9px;
  top: 9px;
  color: #002f34;
}
#featured:hover{
    font-size: 11px;
    position: absolute;
    left: 7px;
    top: 8px;
}   
.ul-for-card>li{
    /* list-style: none; */
    float: left;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 20px;
}
.c-title{
    font-weight: 700;
    /* margin-bottom: 0; */
    overflow: hidden !important;
    color: #002f34;
    font-size: 20px;
    margin-top: -15px !important;

    
}
.location,.date{
    color: rgba(0,47,52,.64) !important;
    margin-bottom: -15px !important;
    font-size: 10px;

}
.c-text{
    color: rgba(0,47,52,.64) !important;
    font-size: 14px !important;
    font-weight: 400;
    overflow-x: hidden !important;
    
    text-align: left;
    display: block;
    margin-top: -8px !important;
    
    padding-bottom: 10px !important;

    white-space: nowrap;
    text-overflow: ellipsis;
}
/* .c-title:hover,.c-text:hover,.location:hover,.date:hover{
text-shadow: 1px 1px 2px rgb(204, 204, 204);
} */ 








/* Load More */
.loadmore-main{
    text-align: center;
}
.loadmore{
    text-align: center;

    color: #002f34;
    border-radius: 4px;
    border: 2px solid #002f34;
    padding: 0 10px;
    font-size: 16px;
    height: 48px;
    font-weight: 700;
    background-color: #ffffff;
    cursor: pointer;
}

.loadmore:hover{
    border: 5px solid #002f34;
    height: 50px;

}

.loadmore:active{
    background-color: rgb(214, 214, 214);
    color: white;
    border: 5px solid rgb(214, 214, 214);

}

/* Footer Top*/
#foottop{
    background-color:#f3f6f7;
    width: 100%;
    overflow-x: hidden !important;
}

.i-f{
    width: 128px;
    height: 40px;
}

.sec-2nd{
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
    color: #002f34;

}
.sec-2nd-b{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #002f34;
    text-align: left;
    margin-bottom: 10px;

}

.col-md-3{
 margin-right: 0px !important;   
}

.sec-1st-head{
    /* position: ; */
    left: 70px;
}


.sec-2nd-head{
    /* position: relative !important; */
    left: -60px !important;
}
.sec-3rd-head {
    right: -10px !important;
}

.vl {
    border-left: 2px solid rgba(0,47,52,.2);
    height: 136px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 15px;
  }

.sec-3rd{
    font-size: 14px;
    line-height: 10px;
    color: #002f34;
    font-weight: 700;
    margin-bottom: 10px !important;
}





/* Footer */
.FOOTER{
background-color:#ebeeef;
border-top: 1px solid rgba(0,47,52,.2);
}

.h6{
    color: #002f34 !important;
    font-family: Roboto,Arial,Helvetica,sans-serif !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
    line-height: 20px !important;
}

ul>li{
  list-style: none;  
  padding: 0;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  font-size: 12px;
}
ul>li>a{
    color: rgba(0,47,52,.64) !important;
}
ul>li>a:Hover{
color: rgb(26, 25, 25) !important;
text-decoration: none;
}

/* .ul-img>li{
text-align: left;
}  */

.svgicon{
height: 22px;
margin-left: 5px;
}

.img-fluid-i-f{
    height: 25px;

}

/* Footer Bottom*/
.FOOTERBOTTTOM{
background-color: #002f34 !important;
text-align: center;
width: 100%;

}

.FOOTERBOTTTOM>div>a{
color: white !important;
background-color: #002f34 !important;
}

#a{
font-family: Arial,Helvetica,sans-serif;
color: white !important;
text-decoration: wavy;
overflow-x: hidden !important;
}
#aa{
font-family: Arial,Helvetica,sans-serif;
background-color: #002f34 !important;
font-size: 12px;
}



/* POST YOUR ADS */


.center{
   text-align: center; 
  padding-bottom: 10px;

}

.center>img{
    height: 150px !important;
 }
#h1{
    text-shadow: 1px 1px 2px #d4d4d4 !important; 

}

 h1{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    /* font-size: 2em; */
    font-weight: bold;   
     color: #002f34;  

 }

 .bg-color-for-ads{
background-color: #f8f8f8;
border-radius: 10px;
border: 1px solid #e2e2e2;
box-shadow: 0px 0px 3px grey;



}

.row>label{
font-weight: 700;
color: #002f34;
}


.POSTADS{
    background-Color:#002f34 !important;
    font-Weight: 600 !important;
    width: 49.8% !important;
    margin-top: 15px;

}

#arrow{
  height: 25px;
  margin-top: 13px;
  margin-left: 15px;  
  cursor: pointer;
  margin-bottom: 15px;

}

.head-again{
border-bottom: 1px solid rgb(216, 216, 216);
}





/* SIGNIN  SIGNUP */

#pos-ads{
    height: 200px !important;
margin-right: 10px;
cursor: pointer;
}

#login-signup{
    text-align: center !important;
width:27% !important;
border: 1px solid rgb(218, 218, 218);
border-radius:5px;
box-shadow: 0px 0px 5px grey;
}
.POSTDS{
    margin-bottom: 8px;

    background-Color:#002f34 !important;
    font-Weight: 600 !important;
    width: 100% !important;
    /* margin-top: 15px; */
}

#cross{
 float: right; 
 height: 19px;
 margin:10px  
}

#cross:hover{
    float: right; 
    height: 24px;
    margin:7px  
   }



   /* ITEMS DETAILS */

   .image-container{
     cursor: pointer;
     /* position: absolute; */
     height: 100%;
     object-fit: contain;
     width: 100%;
     height: 480px;
     cursor: pointer;
     display: block;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     flex-direction: row;

     font-weight: 400;
     font-style: normal;
     font-stretch: normal;
     font-size: 14px;
     line-height: 20px;
     color: rgba(0,47,52,.36);
   }


   .card-price{
    padding-top: 15px;
    direction: ltr;
    font-weight: 700;
    margin-bottom: 8px;
    color: #002f34;
    font-size: 34px;
    line-height: 32px;
   }

   .card-details{
    margin: 8px 0;
    font-size: 16px;
    color: #002f34;
    padding: 0px 10px 24px 0px;
    font-weight: 450;

    line-height: 20px;
   }

   
   .card-location{
    font-size: 12px;
    color: rgba(0,47,52,.64);
    display: flex;
    margin-top: 24px;
    margin-bottom: 10px;

   }

   .card-date{
    font-size: 12px;
    color: rgba(0,47,52,.64);
    display: flex;
    margin-top: 24px;
    margin-bottom: 10px;
   }
   .Seller-Description{
    padding-top: 15px;
    font-size: 20px;
    font-weight: 700;
    color: #002f34;
}
#user-img{
 height: 54px;   
 margin-top: 8px;
 margin-left: 18px;
}
.seller-name{
    font-weight: 500;
    font-size: 17px;
    color: #002f34;
    display: block;
    padding-top: 13px;
    padding-left: 9px;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
}
.Chat-With-Seller{
width: 100%;
background-color: #002f34 !important;
color: #ffffff;
font-weight: 600 !important;

}
.Member-Since-November{
    padding-top: 35px;
    margin-left: -105px;
    font-size: 12px;
    color: #002f34;
}

.card-description{
    padding-top: 16px;

    font-weight: 700;
    font-size: 20px;
    color: #002f34;
}


.card-heart{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 15px;
    top: 18px;
    cursor: pointer;
}
.card-heart:hover{
    width: 27px;
    height: 28px;
    position: absolute;
    right: 15px;
    top: 16px;
}


#card-featured{
    background-color: #ffce32;  
    font-size: 13px;
    padding: 2px 5px;
    font-weight: 700;
    display: block;
    position: absolute;
    left: 17px;
    top: 15px;
    color: #002f34;
  }
  #card-featured:hover{
      font-size: 14px;
      position: absolute;
      left: 16px;
      top: 15px;
  }  
.text-center{
   text-align: center !important; 
   margin-left: 100px;
}
  #phone{
    height: 29px;  
    /* padding-left: 100px; */
    margin-top: 4px;
  }
  .card-border{
      border: 1px solid #b9b9b9; 
     border-radius:5px ;
     box-shadow: 0px 0px 2px grey;
  }

#phone-number{
    font-size: 20px;
    color: #002f34;
    font-weight: 700;
    padding-left: 10px;

}

.for-margin{
padding-left:15px ;
}
